{% extends "base.html" %}

{% block content %}
<section id = "main">
    <h1>Hello {{ name }}</h1>
    <p>this is contents</p>
    <ul>
        {% for artist, music in playlist.items() %}
        <li>{{artist}}:{{music}}</li>
        {% endfor %}
    </ul>
    <p>Add music from here</p>
    <form action="/addmusic"method="post">
        Artist<input type="text"name="artist"><br>
        Music<input type="text"name="music"><br>
        <input type="submit"value="Submit">
    </form>
</section>
{% endblock content %}